<ion-header>
  <ion-toolbar>
    <ion-title>Lokasi Vaksin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of apiVax">
      <ion-avatar slot="start">
        <img [src]="item.imageUrl">
      </ion-avatar>
      <ion-label>
        <ion-text>
          <h2>{{item.namaLokasi}}</h2>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>

