.map {
    width: auto;
    height: 50vh;
}

.full-width {
    padding: 0 10px;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}