<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:left;">Pantau Covid-19
      <span style="float:right;">
        <ion-icon name="time-outline"></ion-icon>
        {{IndoCov[0]?.lastUpdate | date}}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="highcharts" style="width:100%; height:400px;"></div>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Info Penyebaran Virus Covid-19</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card button detail lines="inset" (click)="countryRegion(IndoCov[0]?.countryRegion)">
    <ion-card-header>
      <ion-card-title>{{IndoCov[0]?.countryRegion}}</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon name="medkit-outline" slot="start"></ion-icon>
      <ion-label style="text-align:left;">
        Positif
        <span style="float:right;"> {{IndoCov[0]?.confirmed}} </span>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="happy-outline" slot="start"></ion-icon>
      <ion-label style="text-align:left;">
        Sembuh
        <span style="float:right;"> {{IndoCov[0]?.recovered}} </span>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="skull-outline" slot="start"></ion-icon>
      <ion-label style="text-align:left;">
        Meninggal
        <span style="float:right;"> {{IndoCov[0]?.deaths}} </span>
      </ion-label>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      <ion-label>Info lanjut</ion-label>
    </ion-item>
  </ion-card>
  <ion-searchbar placeholder="Cari Negara" [(ngModel)]="term" animated="true"></ion-searchbar>
  <ion-card button detail lines="inset" *ngFor="let item of location?.countries | filter:term" (click)=" countryRegion(item.name)">
    <ion-list>
      <ion-item>
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>